<!DOCTYPE html>

<html>

    <head>
        <title>Vue Practise</title>
        <script src =./js/vue.js></script> 
    </head>

    <body>

        <div id="app">
            {{ message }} <!-- This is recieving the data from the message. -->
        </div>

            </br>

        <div id="example-1">
            <div v-for="item in items">
                {{ item.message }}
            </div>
        </div>

    </br>

        <ul id="repeat-object" class="demo">
            <li v-for="value in object">
                {{ $key }} : {{ value }}
            </li>
        </ul>

    </br>

    <div>
        <span v-for="n in 10">{{ n }} </span>
    </div>

        <script>

            new Vue({
                    el: '#n',
                    data: {
                        object: {
                            FirstName: 'John',
                            LastName: 'Doe',
                            Age: 30
                        }
                    }
                })

            new Vue({
                    el: '#repeat-object',
                    data: {
                        object: {
                            FirstName: 'John',
                            LastName: 'Doe',
                            Age: 30
                        }
                    }
                })

            new Vue({
                el: '#app', //This is setting element from the html id. 
                data: {
                    message: 'Hello World - Vue begginer!!!'  //This is the data which is being passed in to the element.
                } //check git
            });

           var example1 = new Vue({
                el: '#example-1',
                data: {
                    items: [
                        { message: 'Foo' },
                        { message: 'Bar' },
                        { message: 'Hamza' },
                        { message: 'Bari', }
                    ]
                }
            })   

        </script>
        
    </body>

</html>